<div class="input-group mb-3">
  <input type="text" [(ngModel)]="description" class="form-control" placeholder="Agrega una tarea" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <!-- <label for="addTask"><img src="https://image.flaticon.com/icons/svg/25/25668.svg" height="16px" width="16px"></label> -->
    <button class="btn bg-two border-lefth " type="button" id="addTask" (click)="createTask()"><i class="fas fa-plus"></i></button>
  </div>
</div>
