/* You can add global styles to this file, and also import other style files */
.bg-main {
	background-color: #455A64;
}
.bg-two {
  background-color: #0097A7;
}
.crossed-text {
  text-decoration: line-through;
}
.bg-gray {
  background-color: #BDBDBD;
}
.text-through {
  text-decoration: line-through;
}
.text-secondary {
  color: #0097A7;
}
i:hover {
  color: #007bff;
}
#addTask:hover {
  font-size: 110%;
  color: white; 
}
#addTask i:hover {
  color: white; 
}